﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<!-- Add class "boxed" along with body for boxed layout. -->
<!-- Add "pattern-x" (1 to 5) for background patterns. -->
<!-- Add "img-x" (1 to 5) for background images. -->
<body>

    <!-- Outer Starts -->
    <div class="outer">

        <div class="header-1">

            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- Logo section -->
                        <div class="logo">
                            <h1><img src="~/img/embraceblack.png" height="297" width="384" /></h1>
                        </div>
                    </div>
                    <!-- Need to figure out how to center this bizniss-->
                    <div class="col-md-8 col-sm-8 hidden-xs center-block">
                        <br />
                        <br />
                        <br />
                        <h1>Embrace Salon Spa and Lash Boutique</h1>
                    </div>
                </div>
            </div>

            <!-- Navigation starts -->

            <div class="navi">
                <div class="container">
                    <div class="navy">

                        <ul>
                            <!-- Main menu -->
                            <li>
                                <span></span><a href="/">Home</a>
                            </li>
                            <li class="has-sub">
                                <span class="submenu-button"></span><a href="/home/crew">Crew</a>
                                <!-- Submenu -->
                                <ul>
                                    <li><a href="/crew/tia">Tia</a></li>
                                    <li><a href="/crew/abby">Abby</a></li>
                                    <li><a href="/crew/Sharlyn">Sharlyn</a></li>
                                    <li><a href="/crew/Jessica">Jessica</a></li>
                                    <li><a href="/crew/Pam">Pam</a></li>
                                    <li><a href="/crew/Tricia">Tricia</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <span class="submenu-button"></span><a href="/salonServices/services">Services</a>
                                <!-- Submenu -->
                                <ul>
                                    <li><a href="/salonServices/Services">Salon Services</a></li>
                                    <li><a href="/salonServices/EyeLashes">Eyelash Extensions</a></li>
                                    <li><a href="/salonServices/BridalPackages">Bridal Packages</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <!-- Submenu -->
                                <span class="submenu-button"></span><a href="Products">Products</a>
                                <ul>
                                    <li><a href="kevinmurphy.com.au">Kevin Murphy</a></li>
                                    <li><a href="/salonServices/EyeLashes">Lash Products</a></li>
                                </ul>
                            </li>
                            <li>
                                <span></span><a href="/">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Navigation ends -->

        </div>
        <!-- Header two ends -->
        <!-- Main content starts -->

        <div class="main-block">
            @RenderBody()
        </div>

        <!-- Main content ends -->
        <!-- Foot Starts -->

        <div class="foot">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Foot Item -->
                        <div class="foot-item">
                            <!-- Heading -->
                            <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;Check Us Out!</h5>
                            <p>Check out our latest facebook and instagram posts to see what the crew at Embrace can do for you!</p>
                            <div class="brand-bg">
                                <!-- Social Media Icons -->
                                <a href="https://www.facebook.com/embrace.dubuque" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram circle-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Foot Item -->
                        <div class="foot-item">
                            <!-- Heading -->
                            <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Recent Posts</h5>
                            <!-- Foot Item Content -->
                            <div class="foot-item-content">
                                <ul class="list-unstyled">
                                    <!-- Link -->
                                    <li><a href="https://www.facebook.com/events/136940136780957/">Grand Opening Celebration!</a></li>
                                    <li><a href="http://www.refinery29.com/eyelash-extensions-faq?utm_source=facebook.com&utm_medium=post&unique_id=entry_120412">The cost of lashes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Foot Item -->
                        <div class="foot-item">
                            <!-- Heading -->
                            <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us</h5>
                            <!-- Foot Item Content -->
                            <div class="foot-item-content address">
                                <!-- Heading -->
                                <h6 class="bold"><i class="fa fa-home"></i>&nbsp;&nbsp;Embrace Salon</h6>
                                <!-- Paragraph -->
                                <p class="add">
                                    5025 Wolff Rd <br />
                                    Ste 103 <br />
                                    Dubuque, IA 52002
                                </p>
                                <p class="tel">
                                    <i class="fa fa-phone"></i> Tel : + (563) 564-3731<br />
                                    <i class="fa fa-calendar"></i> Business Hours : 8:30am - 9:00pm Tuesday - Friday
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Foot Ends -->
        <!-- Footer Starts -->

        <footer>
            <!-- Container -->
            <div class="container">
                <!-- Footer Content -->
                <!-- Paragraph -->
                <p class="pull-left">Copyright &copy; 2016 - <a href="#">Embrace Salon</a></p>
                <ul class="list-inline pull-right">
                    <!-- List -->
                    <li><a href="/">Home</a>
                    <li>
                    <li><a href="/home/crew">Crew</a></li>
                    <li><a href="/home/services">Services</a></li>
                </ul>
                <!-- Clearfix -->
                <div class="clearfix"></div>
            </div>
        </footer>

        <!-- Footer Ends -->

    </div>

    <!-- Outer Ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>



    <script type="text/javascript">
			<!-- Counting code -->
			$(document).ready(function(){
				// Way Points With Count To()
				$('.number-count').waypoint(function(down){
					if(!$(this).hasClass('stop-counter'))
					{
						$(this).countTo();
						$(this).addClass('stop-counter');
					}
				}, {
					offset: '90%'
				});
			});
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.r-slider .banner').revolution({
                delay: 7000,
                startheight: 400,
                startwidth: 1000,
                startWithSlide: 0,

                fullScreenAlignForce: "off",
                autoHeight: "off",

                shuffle: "off",

                onHoverStop: "on",

                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 3,

                hideThumbsOnMobile: "on",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResoluition: 0,

                hideThumbs: 10,
                hideTimerBar: "on",

                keyboardNavigation: "on",

                navigationType: "bullet",
                navigationArrows: "solo",
                navigationStyle: "round",

                navigationHAlign: "center",
                navigationVAlign: "bottom",

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,


                touchenabled: "on",
                swipe_velocity: "0.7",
                swipe_max_touches: "1",
                swipe_min_touches: "1",
                drag_block_vertical: "false",

                stopAtSlide: -1,
                stopAfterLoops: -1,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                hideSliderAtLimit: 0,

                dottedOverlay: "none",

                spinned: "spinner4",

                fullWidth: "off",
                forceFullWidth: "off",
                fullScreen: "off",
                fullScreenOffsetContainer: "#topheader-to-offset",

            });
        });
    </script>
</body>
</html>