﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/abby.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <!-- Heading -->
        <div class="block-heading-two">
            <h3><span>Abby</span></h3>
        </div>
        <!-- Para -->
        <p>
            Young but driven, Abby brings a burst of energy with her every where she goes. <br />
            After graduating Cosmetology school, Abby continued on at Capri College to study Esthetics. <br />
             She is also a certified Eyelash Technician and has a higher certification for Nail Technology. <br />
            To add to her talents she also enjoys instructing the Nail Technology Course at Capri. Abby eats, sleeps, and breathes the beauty industry and takes any opportunity to sharpen her skills and education. <br />
             Her love for making each and every one of her clients feel beautiful really shines through her work.
        </p>
    </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">


    </div>

    <div class="col-md-7 col-sm-12">
        <p class="tel">
            <i class="fa fa-phone"></i> Tel : + (563) 590-1676<br />
            <i class="fa fa-calendar"></i> Business Hours : 8:30am - 9:00pm Tuesday - Friday
        </p>
    </div>

</div>