﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/girls_color.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <div class="block-heading-two">
            <h3><span>Meet The Crew!</span></h3>
        </div>
    <ul>
        <li><a href="/crew/tia">Tia</a></li>
        <li><a href="/crew/abby">Abby</a></li>
        <li><a href="/crew/Sharlyn">Sharlyn</a></li>
        <li><a href="/crew/Jessica">Jessica</a></li>
        <li><a href="/crew/Pam">Pam</a></li>
        <li><a href="/crew/Tricia">Tricia</a></li>
    </ul>
     </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">


    </div>

</div>