﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/jessica.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <!-- Heading -->
        <div class="block-heading-two">
            <h3><span>Jessica</span></h3>
        </div>
        <!-- Para -->
        <p>Hello all. My name is Jessica Schick and I'm more then excited to be a part of the Embrace Salon, Spa, & Lash Boutique team! Jessica has been a licensed cosmetologist since 2007. After graduating from Capri Dubuque, she chose to further her education becoming certified and specializing in eyelash extensions, nail technology, and Dream Catcher hair extensions. She is also a licensed cosmetology instructor. She's been behind the chair for 9+ years and absolutely Loves What She Does. As Tia said it's an amazing feeling making people feel beautiful inside and out! As well as teaming with her and opening a salon/spa/lash boutique in Dubuque has been a life long dream that we've finally conquered! From beginning Capri with her to all the struggles and accomplishments we've grown through. Jessica is beyond excited to start this amazing journey with some amazing, beautiful, talented ladies behind her as well as our clients. She can't thank everyone enough for standing beside her and supporting her through this life long career that she Loves! She hopes to see you all soon for your beauty needs!
        </p>
    </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">



    </div>

    <div class="col-md-7 col-sm-12">
        <p class="tel">
            <i class="fa fa-phone"></i> Tel : + (563) 258-1058<br />
            <i class="fa fa-calendar"></i> Business Hours : 8:30am - 9:00pm Tuesday - Friday
        </p>
    </div>

</div>