﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/pam.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <!-- Heading -->
        <div class="block-heading-two">
            <h3><span>Pam</span></h3>
        </div>
        <!-- Para -->
        <p>
            Meet Pam McClain she is a people girl.  You will feel at home the first or the hundredth time you sit in her stylist chair.  She is an amazing artist who has shared here talents for 41 years.  Her love for her craft and knowing how to think out of the box has kept her on the cutting edge.  Come feel her embrace! You will always leave with a smile!!
        </p>
    </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">

    </div>

    <div class="col-md-7 col-sm-12">
        <p class="tel">
            <i class="fa fa-phone"></i> Tel : + (563) 231-6762<br />
            <i class="fa fa-calendar"></i> Business Hours : 8:30am - 9:00pm Tuesday - Friday
        </p>
    </div>

</div>