﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/sharlyn.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <!-- Heading -->
        <div class="block-heading-two">
            <h3><span>Sharlyn</span></h3>
        </div>
        <!-- Para -->
        <p>
            Introducing Sharlyn Donovan... Sharlyn is a 2002 graduate of Capri College specializing in color.  After being in the business for 10 years Sharlyn went onto further her specialty by attending school in New York City at Redken where she became the Tri-states first, Certified Redken Color Specialist.  The following year Sharlyn went back to Redken in NYC and got a second certification in styling. Sharlyn takes every opportunity possible to continue to educate herself and stay up on the latest trends.
            This path Sharlyn has chosen is not only a career but an absolute passion.  She has an immense love of people and fashion.
        </p>
        <br />
        <p>There's nothing in this world more gratifying than making someone's day a little brighter. I've had and continue to have the pleasure of working with people on a very close, personal level.  From having an anxious, young lady sit in my chair for hair and make-up through all four years of homecomings and proms and ten  years later having the extreme honor of doing her wedding day hair and make-up, only to have her sit in my chair six months later and tell me I'm the first to know she took a pregnancy test this morning and it was positive!!! The coolest thing is I will one day get to cut that precious child's hair too! As a hairstylist, whether someone has been in my chair 100 times or it's the first time, having that client leave with a smile on their face and a renewed bounce in their step, because of something I did, is truly one of the most rewarding feelings and something I take great pride in and strive for each and every day.</p>
    </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="img/gallery/big/1.jpg" alt="">
            <div class="image-hover">
                <!-- Image Caption -->
                <div class="image-caption">
                    <a href="#"><i class="fa fa-play"></i></a>
                    <a href="img/gallery/big/1.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <p class="tel">
            <i class="fa fa-phone"></i> Tel : + (563) 542-2696<br />
            <i class="fa fa-calendar"></i> Business Hours : 8:30am - 9:00pm Tuesday - Friday
        </p>
    </div>

</div>