﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/tia.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <!-- Heading -->
        <div class="block-heading-two">
            <h3><span>Tia</span></h3>
        </div>
         <!-- Para -->
        <p>Tia is a Dubuque native, and a cosmetologist since 2007. After graduating cosmetology school, Tia continued her education at Capri college as a cosmetology instructor and nail technician instructor. With the love of personally taking care of each and every client she continued to work behind the chair and furthered her education with individual eyelash extensions. In 2009 Tia got certified as a eyelash technician and has continued taking classes, training others, and has had the pleasure of taking care of over 100 clients with lash extensions! Tia loves making people feel beautiful inside and out! Opening a salon/lash boutique in Dubuque has been a life long dream that is finally becoming reality for Tia! Tia is so excited to be working with other amazing stylist/technicians in an awesome salon, spa, and lash boutique! </p>
    </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">

       

    </div>

    <div class="col-md-7 col-sm-12">
        <p class="tel">
            <i class="fa fa-phone"></i> Tel : + (563) 663-3805<br />
            <i class="fa fa-calendar"></i> Business Hours : 8:30am - 9:00pm Tuesday - Friday
        </p>
    </div>

</div>