﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/tricia.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <!-- Heading -->
        <div class="block-heading-two">
            <h3><span>Tricia</span></h3>
        </div>
        <!-- Para -->
        <p>
            Tricia is a cosmetologist, massage therapist, esthetician, and certified lash technician at Embrace Salon and spa.
        </p>
    </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">

        <div class="image-style-seven">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <p class="tel">
            <i class="fa fa-phone"></i> Tel : + (563) 564-6199<br />
            <i class="fa fa-calendar"></i> Business Hours : 8:30am - 9:00pm Tuesday - Friday
        </p>
    </div>

</div>