﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/wedding.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <div class="block-heading-two">
            <h2>Bridal Package Pricing</h2><br />
            <a class="link" style="font-size: medium" href="~/img/embrace_bridal_packages.pdf">Grab a copy of our packages here</a>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <p> Pricing does not include tax.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <p>Pricing is subject to change at anytime</p>
                </div>
            </div>
        </div>
        <div class="block-heading-two">
            <h3><span>Pearl Package</span></h3>
        </div>
        <div>
            <ul>
                <li>*Pretrial &amp; Wedding Day Updo</li>
                <li>*Pretrial &amp; Wedding Day Airbrush Make Up</li>
                <li>*Basic Manicure<br/>
                <ul>
                    <li>(French Tip)</li>
                </ul></li>
            </ul>
            <p>Total: $150</p>
        </div>
        <div class="block-heading-two">
            <h3><span>Silver Package</span></h3>
        </div>
        <div>
            <ul>
                <li>*Pretrial &amp; Wedding Day Updo</li>
                <li>*Pretrial &amp; Wedding Day Airbrush Make Up</li>
                <li>*Shellac Manicure</li>
                <li>*Seasonal Pedicure</li>
            </ul>
            <p>Total: $200</p>
        </div>
        <div class="block-heading-one">
            <h2>Bride To Be Packages</h2>
            <p>All packages include snacks and drinks on day of wedding</p>
        </div>
        <div class="block-heading-two">
            <h3><span>Gold Package</span></h3>
        </div>
        <div>
            <ul>
                <li>*Pretrial &amp; Wedding Day Updo</li>
                <li>*Pretrial &amp; Wedding Day Airbrush Make Up<br />
                <ul><li>Includes temporary lashes</li></ul></li>
                <li>*60 Minute Massage</li>
                <li>*Back Treatment</li>
            </ul>
            <p>Total: $285</p>
        </div>
        <div class="block-heading-two">
            <h3><span>Platinum Packages</span></h3>
        </div>
        <div>
            <ul>
                <li>*Full Set of Eyelash Extensions</li>
                <li>*Pretrial &amp; Wedding Day Updo</li>
                <li>*Pretrial &amp; Wedding Day Airbrush Make Up</li>
                <li>*Shellac Manicure &amp; Seasonal Pedicure</li>
                <li>*60 Minute Massage &amp; Back Treatment</li>
            </ul>
            <p>Total: $420</p>
        </div>
        <p>* Additional charges may apply</p>
        <p>All Bridal packages include one free yoga session at sweaty yogi</p>
        <p>* For an additional $100 treat your bridal party to an onsite yoga session!</p>
    </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">


    </div>

</div>
