﻿<div class="row">

    <div class="col-md-4 col-sm-5">

        <div class="image-style-seven">
            <!-- Image -->
            <img class="img-responsive" src="~/img/girls_color.jpg" alt="">
        </div>

    </div>

    <div class="col-md-7 col-sm-12">
        <div class="block-heading-two">
            <h2>Service Pricing</h2>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <p> Pricing does not include tax.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <p>Pricing is subject to change at anytime</p>
                </div>
            </div>
        </div>
        <div class="block-heading-two">
            <h3><span>Liquifan Eyelash Extensions</span></h3>
        </div>
        <table>
            <thead>
                <tr><th class="TableRowSpacer">Service</th><th class="TableRowSpacer"></th><th class="TableRowSpacer">Price</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="TableRowSpacer">Full set eyelashes (2 hour service)</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$175</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Fills as Follows(30-60 minutes)</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer"></td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">1 Week</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$20</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">2 Weeks</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$30</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">3 Weeks</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$40</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">4 Weeks</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$50</td>
                </tr>
            </tbody>
        </table>
        <div class="block-heading-two">
            <h3><span>Haircut &amp; Style</span></h3>
        </div>
        <table>
            <thead>
                <tr><th class="TableRowSpacer">Service</th><th class="TableRowSpacer"></th><th class="TableRowSpacer">Price</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="TableRowSpacer">Women's Haircut &amp; Style</td><td class="TableRowSpacer"></td><td class="TableRowSpacer">$27</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Men's Haircut &amp; Style</td><td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$20</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Child's Haircut (under 13)</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$15</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Fringe Trim</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$10</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Deep Conditioning Treatment*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$15</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Thermal Style*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$25</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Special Occassion Updo*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$50</td>
                </tr>
               
            </tbody>
        </table>

        <div class="block-heading-two">
            <h3><span>Color Starting Prices</span></h3>
        </div>
        <table>
            <thead>
                <tr><th class="TableRowSpacer">Service</th><th class="TableRowSpacer"></th><th class="TableRowSpacer">Price</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="TableRowSpacer">All Over One Color*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$50</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Regrowth Color</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$50</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Full head Foil*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$65</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Partial Foil (Up to 12)*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$45</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Per Foil*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$5</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Men's Camo Color</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$20</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Extra Product/Long Hair (past shoulders)</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$10</td>
                </tr>

            </tbody>
        </table>
        <div class="block-heading-two">
            <h3><span>Spa Services</span></h3>
        </div>
        <table>
            <thead>
                <tr><th class="TableRowSpacer">Spa Service</th><th class="TableRowSpacer"></th><th class="TableRowSpacer">Price</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="TableRowSpacer">Basic Manicure</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$20</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Shellac Manicure(gel)</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$30</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">French Shellac</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$35</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Polish Change(mani)</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$10</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Pedicure</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$35</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Nail Art(2 or 4 simple designs)</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$6</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Nail Art(all 10 simple designs)</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$10</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Facial Waxing</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$10</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Body Waxing(legs, arms, underarms)*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$35</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Airbrush/Make-up Application</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$40</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Make-up with Lashes*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$45</td>
                </tr>
            </tbody>
        </table>
        <div class="block-heading-two">
            <h3><span>PERM Starting Prices</span></h3>
            <p>Does not include a cut, add $20 to price if desired</p>
        </div>
        <table>
            <thead>
                <tr><th class="TableRowSpacer">Service</th><th class="TableRowSpacer"></th><th class="TableRowSpacer">Price</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="TableRowSpacer">Basic Perm Wrap*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$65</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Specialty Perm Wrap*</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$85</td>
                </tr>
                <tr>
                    <td class="TableRowSpacer">Frontal Fringe Perm</td>
                    <td class="TableRowSpacer"></td>
                    <td class="TableRowSpacer">$25</td>
                </tr>
            </tbody>
        </table>
        <p>* Additional charges may apply</p>
    </div>

</div>
<div class="row">

    <div class="col-md-5 col-sm-6">


    </div>

</div>