﻿@{
    ViewBag.Title = "Home";
}
<!-- Revolution slider full width starts -->
<div class="r-slider">
    <div class="bannercontainer">
        <div class="banner">
            <ul>
                <!-- Slide #4 starts  -->
                <li data-transition="slotslide-horizontal" data-slotamount="5">

                    <!-- MAIN IMAGE -->
                    <img src="~/img/rev-slider/3.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption b-big-thin-transparent white skewfromleft"
                         data-x="580"
                         data-y="50"
                         data-speed="800"
                         data-start="800"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                        Embrace
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption b-big-thin-transparent white skewfromleft"
                         data-x="580"
                         data-y="110"
                         data-speed="800"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                        Your
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption b-big-thin-transparent white skewfromleft"
                         data-x="580"
                         data-y="170"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                        Inner
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption b-big-thin-transparent white skewfromleft"
                         data-x="580"
                         data-y="230"
                         data-speed="800"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                         Beauty!
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption lfb"
                         data-x="left" data-hoffset="20"
                         data-y="center" data-voffset="0"
                         data-speed="600"
                         data-start="400"
                         data-autoplay="true"
                         data-autoplayonlyfirsttime="true"
                         data-nextslideatend="true"
                         style="z-index: 8">
                        <img src='~/img/girls_landscape.jpg' width='540' height='333' style='width:540px;height:333px;border:0px;box-shadow:0px 0px 5px rgba(0,0,0,0.4);'/>
                    </div>
                </li>
                <!-- Slide #4 ends -->
                <li data-transition="slotslide-horizontal" data-slotamount="5">

                    <!-- MAIN IMAGE -->
                    <img src="~/img/rev-slider/3.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption b-big-thin-transparent white skewfromleft"
                         data-x="580"
                         data-y="50"
                         data-speed="800"
                         data-start="800"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                        Beauty
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption b-big-thin-transparent white skewfromleft"
                         data-x="580"
                         data-y="110"
                         data-speed="800"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                        Begins
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption b-big-thin-transparent white skewfromleft"
                         data-x="580"
                         data-y="170"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                        When you
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption b-big-thin-transparent white skewfromleft"
                         data-x="580"
                         data-y="230"
                         data-speed="800"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                        be yourself!
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption lfb"
                         data-x="left" data-hoffset="20"
                         data-y="center" data-voffset="0"
                         data-speed="600"
                         data-start="400"
                         data-autoplay="true"
                         data-autoplayonlyfirsttime="true"
                         data-nextslideatend="true"
                         style="z-index: 8">
                        <img src='~/img/girls_2.jpg' width='540' height='333' style='width:540px;height:333px;border:0px;box-shadow:0px 0px 5px rgba(0,0,0,0.4);' />
                    </div>
                </li>
                <!-- Slide #5 starts -->
                <li data-transition="boxslide" data-slotamount="5">

                    <img src="~/img/rev-slider/1.jpg" alt="" />

                    <!-- Layer 1 -->
                    <div class="tp-caption b-big-bold black skewfromrightshort"
                         data-x="20"
                         data-y="80"
                         data-speed="500"
                         data-start="800"
                         style="z-index: 4">
                        Styles
                    </div>

                    <!-- Layer 2 -->
                    <div class="tp-caption b-medium-thin-grey skewfromleftshort"
                         data-x="310"
                         data-y="95"
                         data-speed="500"
                         data-start="900"
                         style="z-index: 5">
                        You
                    </div>

                    <!-- Layer 3 -->
                    <div class="tp-caption b-medium-thin-grey skewfromrightshort"
                         data-x="20"
                         data-y="148"
                         data-speed="300"
                         data-start="1000"
                         style="z-index: 6">
                        Fall In
                    </div>

                    <!-- Layer 4 -->
                    <div class="tp-caption b-big-bold black skewfromleftshort"
                         data-x="115"
                         data-y="132"
                         data-speed="300"
                         data-start="1100"
                         style="z-index: 7">
                        Love With
                    </div>

                    <!-- Layer 5 -->
                    <div class="tp-caption b-small-para black skewfromleftshort"
                         data-x="20"
                         data-y="200"
                         data-speed="500"
                         data-start="1300"
                         style="z-index: 8">
                         From every day styles <br /> to the top wedding looks <br /> Embrace can do it all for you
                    </div>

                    <!-- Layer 6 -->
                    <div class="tp-caption lft"
                         data-x="420"
                         data-y="1"
                         data-speed="800"
                         data-start="1700"
                         style="z-index: 8">
                        <img src="~/img/blonde.jpg" alt="" width="200px" height="400px"/>
                    </div>
                    <div class="tp-caption lft"
                         data-x="680"
                         data-y="1"
                         data-speed="800"
                         data-start="1700"
                         style="z-index: 8">
                        <img src="~/img/brunette.jpg" alt="" width="200px" height="400px" />
                    </div>
                  
                </li>
                <!-- Slide #5 ends -->

            </ul>

        </div>
    </div>
</div>
<!-- Revolution slider full width ends -->

<div class="container">

    <br />
    <div class="text-center">
        <h3><span class="color">Check us out!</span></h3>
        <p>Embrace is the best destination for the latest styles, lashes, and colors to take your beauty to the next level! </p>
    </div>

    <div class="block-heading-two">
        <h3><span>Recent Works</span></h3>
    </div>

    <div class="img-box-4 text-center">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #4 Item -->
                <div class="img-box-4-item">
                    <!-- Image -->
                    <a href="~/img/embrace_work.jpg" class="lightbox"><img src="~/img/embrace_work.jpg" alt="" class="img-responsive" /></a>
                    <!-- Image Box #4 Content -->
                    <div class="img-box-4-content">
                        <!-- Icon -->
                        <h4>Gorgeous Colors</h4>
                        <!-- Border -->
                        <div class="bor bg-red"></div>
                        <!-- Paragraph -->
                        <p>Get the highlights and colors that shine!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                    <a href="~/img/14232618_1298304580193920_4560484185378398150_n.jpg" class="lightbox"><img src="~/img/14232618_1298304580193920_4560484185378398150_n.jpg" alt="" class="img-responsive" /></a>
                    <div class="img-box-4-content">
                        <h4>Amazing Lashes</h4>
                        <div class="bor bg-lblue"></div>
                        <p>Fantastic lashes that make your eyes sparkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                    <a href="~/img/hair_extension.jpg" class="lightbox"><img src="~/img/hair_extension.jpg" alt="" class="img-responsive" /></a>
                    <div class="img-box-4-content">
                        <h4>Fantastic Extensions</h4>
                        <div class="bor bg-green"></div>
                        <p>Dream catcher extensions now available!</p>
                    </div>
                </div>
            </div><div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                    <a href="img/wedding.jpg" class="lightbox"><img src="~/img/wedding.jpg" alt="" class="img-responsive" /></a>
                    <div class="img-box-4-content">
                        <h4>Perfect Wedding Styles</h4>
                        <div class="bor bg-purple"></div>
                        <p>Let us pamper you and your bride's maids on your wedding day!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
